.control-pane {
    margin-bottom: 12px;
}

.graph-object {
    border: 2px solid #dedede;
    height: 520px;
    position: relative;
    width: 100%;
}
.form-element {
    padding-bottom: 8px;
}
.btn-top-sp {
    height: 24px;
}
.non-label {
    padding-top: 24px;
}
.col-lg-4 button {
    width: 100%;
}

.vertex-object {
    background-color: #fff;
    border: 2px solid #000;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    cursor: pointer;
    height: 30px;
    left: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px;
    z-index: 900;
}

.vertex-object.active {
    background-color: #76B876;
    border-color: #5CB85C;
    color: #fff;
}

#edge-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    stroke: #000;
    stroke-width: 2px;
    z-index: -1;
}

.route-info {
    display: none;
}